<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38124984548-f9vqad37375vnvp532mtrp2qf2tioo0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38124984548-f9vqad37375vnvp532mtrp2qf2tioo0e</string>
	<key>API_KEY</key>
	<string>AIzaSyC7iKAdOe6ngdwNZn78oWmmm_6PHK93ZVc</string>
	<key>GCM_SENDER_ID</key>
	<string>38124984548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkondo.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d5cfd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d5cfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38124984548:ios:9538fe9b70d1eca851b4f1</string>
</dict>
</plist>